.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #3c4043;
  height: 100px;
}
.link {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.icon {
  font-size: 5rem;
  color: #ff0000;
}
h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-left: 5%;
  color: white;
}
.form {
  display: flex;
  width: 100%;
  justify-content: center;
}
.input {
  font-size: 1rem;
  width: 60%;
  padding: 1rem;
  border: none;
  background-color: black;
  color: #3c4043;
}
.button {
  background: none;
  border: none;
  color: aliceblue;
  font-size: 2rem;
  margin-left: 0.5rem;
}
